beautifulsoup4
requests
nltk
fuzzywuzzy
textblob
spacy
word2number
text2num
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz#egg=en_core_web_sm
